{% extends "layout.html"%}
{% set active_page = "page 1"%}

    <!--page content-->
    {%block title%}
    <h1>Length</h1>
    {%endblock%}
	{%block content%}
	<p>
	 <form action='/page11'>
      Meters to Feet<br>
      <input type="text" name="meters1">
      <br><br>
      <input type="submit">
    </form>
	Response:
	<br> <br>
	<form action='/page11'>
      Feet to Meters<br>
      <input type="text" name="feet2">
      <br><br>
      <input type="submit">
    </form>
	Response:
	<br> <br>
	<form action='/page11'>
      Miles to Feet<br>
      <input type="text" name="miles3">
      <br><br>
      <input type="submit">
    </form>
	Response:
	<br> <br>
	<form action='/page11'>
      Feet to Miles<br>
      <input type="text" name="feet4">
      <br><br>
      <input type="submit">
    </form>
	</p>
	Response:
	{%endblock%}
   
