{% extends "layout.html"%}
{% set active_page = "page 2"%}

    <!--page content-->
    {%block title%}
    <h1>Weight/Mass</h1>
    {%endblock%}
	{%block content%}
	<form action='/page12'>
      Pounds to Ounces<br>
      <input type="text" name="pounds1">
      <br><br>
      <input type="submit">
    </form>
    Response:
    {{ response5 }} ounces
	<br>
	<br>
	<form action='/page12'>
      Ounces to Pounds<br>
      <input type="text" name="ounces2">
      <br><br>
      <input type="submit">
    </form>
    Response:
    {{ response6 }} pounds
	<br>
	<br>
	<form action='/page12'>
      Grams to Pounds<br>
      <input type="text" name="grams3">
      <br><br>
      <input type="submit">
    </form>
    Response:
    {{ response7 }} pounds
	<br> <br>
	<form action='/page12'>
      Pounds to Grams<br>
      <input type="text" name="pounds4">
      <br><br>
      <input type="submit">
    </form>
    Response:
    {{ response8 }} grams
	{%endblock%}
   